
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand text-uppercase" href="#">
      </a>
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <BR>
        <CENTER style="color:orange; font-weight:bold; font-size:250%;">KALDIS KITCHEN</CENTER>
        
    </div>
  </div>
</nav>
<!-- content -->
<div class="container">
  <div class="row">
      <div class="button_container">
          <div class="container_middle">
              <div class="container_center">
                  
                  <%= link_to login_path do%>
        <div class="btn btn-default" style="width:250px; height:150px; margin-left:8cm; padding-top:1.5cm; color: orange;">
           <center class="linkhome">Chef</center>
            </div>
                  <% end %>
                  
                  <%= link_to loginmanager_path do %>
          <div class="btn btn-default" style="margin-left: 2cm; width:250px; height:150px;  padding-top:1.5cm; color: orange;">
             <center class= "linkhome">Stock Manager</center>
      </div>
                  <% end %>
        </div>
        </div>
          </div>
      
     </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
        
        <div class="container">
        <center style="padding: 10px;">Copyrights (c) - All rights reserved</center>
        </div>
        
    </nav>
    
    
     </div>

    